[submodule "SpeechT5/fairseq"]
	path = SpeechT5/fairseq
	url = https://github.com/pytorch/fairseq
[submodule "Speech2C/fairseq"]
	path = Speech2C/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "YiTrans/fairseq"]
	path = YiTrans/fairseq
	url = https://github.com/facebookresearch/fairseq
[submodule "SpeechLM/fairseq"]
	path = SpeechLM/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "SpeechUT/fairseq"]
	path = SpeechUT/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "VATLM/fairseq"]
	path = VATLM/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "Speech2S/fairseq"]
	path = Speech2S/fairseq
	url = https://github.com/facebookresearch/fairseq.git
	branch = adding_womenbios
